.side-menu {
  background-color: #2e3e90;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px;
  justify-content: space-evenly;
}

.isSmall {
  align-items: center;
}

.isLarge {
  align-items: flex-end;
}

